body {
  background-image: url("playground.jpeg");
  background-size: cover;
  align-content: center;
  background-repeat: no-repeat;
   max-height: 100vh;
  padding: 15px;
  font-family: courier;
  font-size: 50px;

}